<div class="form-group form-group-sm">
  <div class="col-sm-2">
  <%= f.label :company_name %><br />
  </div>
  <div class="col-sm-4">
    <%= f.text_field :company_name, class: "form-control", autofocus: true %><br />
  </div>
</div>
