<div class="form-group form-group-sm">
  <div class="col-sm-2">
    <%= f.label :first_name %><br />
  </div>
  <div class="col-sm-4">
    <%= f.text_field :first_name, class: "form-control", autofocus: true %>
  </div>
</div>

<div class="form-group form-group-sm">
  <div class="col-sm-2">
    <%= f.label :last_name %><br />
  </div>
  <div class="col-sm-4">
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
</div>
