<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <div class="content-box">
          <i class="fa fa-money fa-4x" aria-hidden="true"></i>
          <h3>Pay matters!</h3>
          <p>Without money, you can't live. There is no shame in earning your worth!</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text-center">
        <div class="content-box">
          <i class="fa fa-chain-broken fa-4x" aria-hidden="true"></i>
          <h3>Break free from tiranny!</h3>
          <p>Have you ever wondered why there are so many recruitment agencies about?
          If not. You should!</p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 text-center">
        <div class="content-box">
          <i class="fa fa-eye fa-4x" aria-hidden="true"></i>
          <h3>You are worth it</h3>
          <p>Transparency is important. At NAME_HERE fees are always visible. We even have minimum fees!</p>
        </div>
      </div>
    </div>
  </div>
</section>
