<div class="container">
  <div class="row">
    <div class="col s12 m6 l6 card card-med-margin">
      <span class="light">Already a member?</span>
      <div class="card-action">
        <%= link_to "log in", new_user_session_path, class: "btn-large grey darken-2 waves-effect waves-light landing-button" %>
      </div>
    </div>

    <div class="col s12 m6 l6 card card-med-margin">
      <span class="light">Not yet a member?</span>
      <div class="card-action">
        <%= link_to "sign up", new_user_registration_path, class: "btn-large grey darken-2 waves-effect waves-light landing-button" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="icon-block">
          <h2 class="center grey-text text-darken-4"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">No recruiters allowed!</h5>
          <p class="light">
            Third-party recruiters are not allowed to use our application. Only recruiters who
            legally represent the hiring party, are allowed to use our application.

            Imagine your financial gain when cutting out recruitment fees!
          </p>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="icon-block">
          <h2 class="center grey-text text-darken-4"><i class="material-icons">group</i></h2>
          <h5 class="center">Transparent rates</h5>
          <p class="light">
            We take an active stance against intransparancy. Fees should be transparent for all
            involved parties (which should always be two, considering we don't tolerate recruiters).
            Therefore every job and every freelancer are required to fill in their desired rates.
          </p>
        </div>
      </div>

      <div class="col s12 m12 l4">
        <div class="icon-block">
          <h2 class="center grey-text text-darken-4"><i class="material-icons">settings</i></h2>
          <h5 class="center">Minimum fees</h5>
          <p class="light">
            A fair fee for everyone. Thats what we will accomplish here. Every job posted
            requires a minimum fee. We are convinced this will result in better labor
            environment for everyone. There is no room for exploitation here.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
