<% if !user_signed_in? %>
<div class="container">
  <div class="row">
    <div class="login-box col-xs-4 col-xs-offset-2">
      <h4>Already a member? </h4>
      <%= link_to "login", new_user_session_path %>
    </div>

    <div class="login-box col-xs-4">
      <h4>Not yet a member?</h4>
      <%= link_to "register", new_user_registration_path %>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-6 col-md-offset-3">
      <h4 class="center ">No recruiters allowed!</h5>
      <p>
        Third-party recruiters are not allowed to use our application.
        Imagine your financial gain when cutting out recruitment fees!
      </p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-6 col-md-offset-3">
      <h4 class="center ">Transparent rates</h5>
      <p>
        We take an active stance against intransparancy. Payrates are always
        visible. We also require jobs to have a minimum payrate.
      </p>
    </div>
  </div>
</div>


<% end %>
