<div class="row">
  <div class="col s12">
    <h2>Employer</h2>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <p><%= @employer.company_name %></p>
    <p><%= @employer.location %></p>
    <p><%= @employer.email %></p>
  </div>
</div>
