<div class="row">
  <div class="center col-lg-12">
      <h2><%= @employer.company_name %></h2>
    <table class="table">
      <!-- table header -->
      <tr>
        <th>location</th>
        <th>business</th>
        <th>amount of jobs</th>
      </tr>
      <!-- loop for creating overview of employers -->
        <tr>
          <td><%= @employer.location %></td>
          <td><%= @employer.business %></td>
          <td> 120 </td>
        </tr>
    </table>
  </div>
</div>
