/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'alerts';
@import 'chosen';

// SCSS variables

$font-stack:  Helvectica, sans-serif;
$primary-color: #212121;
$secondary-color: #f44336;
$tertiary-color: #757575;
$white-color: #ffffff;
$light-color: #eeeeee;
$square-corners: 1px;

$font-size-regular: 10px;
$font-size-h1: 14px;
$font-size-h2: 13px;
$font-size-h3: 12px;
$font-size-h4: 11px;
$font-size-icons: 8px;

// BODY

.login-box {
  background-color: $white-color;
	border-radius: $square-corners;
	text-align: center;
  height: 100px;
  margin-top: 10px;

}

body {
  font-family: $font-stack;
  color: $primary-color;
  font-size: $font-size-regular;
  background-color: $light-color;

  h1 {
    font-size: $font-size-h1;
  }
  h2 {
    font-size: $font-size-h2;
  }
  h3 {
    font-size: $font-size-h3;
  }
  h4 {
    font-size: $font-size-h4;
  }
}

// FOOTER

footer {
  background-color: $primary-color;
  color: $light-color;
  margin-top: 10px;
  a:link, a:visited {
      color: $secondary-color;
  }
  a:hover {
      color: $light-color;
      text-decoration: none;
  }
  ul {
    padding: none !important;
    list-style-type: none;
    padding-left: 1px;
  }
}

// NAVIGATION

nav {
  padding-top: 4px;
  background-color: $white-color;
  font-size: $font-size-icons;


  a:link {
    padding: 2px;
    margin-top: 7px;
    width: 120px;
    border-radius: $square-corners;
    border: 2px solid $tertiary-color !important;
    color: $primary-color !important;

  }
  a:visited {
    color: $primary-color !important;
    border: 2px solid $tertiary-color !important;
  }
  a:hover {
    color: $secondary-color !important;
    border: 2px solid $secondary-color !important;
    background-color: $white-color !important;
  }
  a:active {
    color: $secondary-color !important;
  }
  .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
  }

  .nav-tabs, .nav-pills {
    text-align:center;
  }
}

// NAVIGATION FOR ACCOUNT SERVICES

.account-bar {
  i {
    margin-top: 5px;
    color: $primary-color;
  }
  i:hover {
    color: $secondary-color;
  }
}
