/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'alerts';
@import 'chosen';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
// SCSS variables

$font-stack: 'Roboto', sans-serif;

$primary-color: #212121;
$secondary-color: #1e88e5;
$tertiary-color: #424242;
$white-color: #ffffff;
$square-corners: 1px;
$font-weight-light: 300;

$font-size-regular: 10px;
$font-size-h1: 13px;
$font-size-h2: 12px;
$font-size-h3: 11px;
$font-size-h4: 10px;
$font-size-icons: 8px;

$background-xs: url(background-xs.jpg);
$background-sm: url(background-sm.jpg);
$background-md: url(background-md.jpg);
$background-lg: url(background-lg.jpg);

// media queries and jumbotron

@media screen and (min-width: 980px) {
    .background-jumbotron {
        background-image: $background-lg;
        height: 440px;
        background-size: cover;
    }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    .background-jumbotron {
        background-image: $background-md;
        height: 400px;
        background-size: cover;
    }
}

@media screen and (max-width: 767px) {
    .background-jumbotron {
      background-image: $background-sm;
        height: 300px;
        background-size: cover;
    }
}

@media screen and (max-width: 480px) {
    .background-jumbotron {
        background-image: $background-xs;
        background-repeat: no-repeat;
        height: 160px;
        background-size: cover;
        margin-bottom: 5px;
    }
    .login-box h4 {
        margin: 5px;
    }
}

// BODY

body {
  font-family: $font-stack !important;
  color: $primary-color;
  font-size: $font-size-regular;
  background-color: $white-color;
  min-height: 100%;

      p {
        font-family: $font-stack !important;
        font-weight: $font-weight-light;
        font-size: $font-size-regular;
      }

      h1 {
        font-size: $font-size-h1;
      }

      h2 {
        font-size: $font-size-h2;
      }

      h3 {
        font-size: $font-size-h3;
      }

      h4 {
        font-size: $font-size-h4;
      }

      a {
        color: $primary-color;
      }

      a:hover {
        color: $secondary-color;
      }

      .login-box {
        background-color: rgba(255,255,255, 0.7);
        color: $tertiary-color;
      	border-radius: $square-corners;
      	text-align: center;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid $tertiary-color;
      }

      .landing-container {
        background-color: rgba(255,255,255, 0.6);
      }

      .btn-secondary-altered{
        margin-top: 10px;
      }

      .btn-secondary {

        min-width: 110px;
        color: $white-color;
        border-radius: $square-corners;
        background-color: #424242;
      }
      .btn-secondary:active, .btn-secondary:hover {
        background-color: $secondary-color;
        color: $white-color;
      }

}

// FOOTER

footer {
  background-color: $tertiary-color;
  color: $white-color;
  margin-top: 10px;

  a:link, a:visited {
      color: $secondary-color;
  }
  a:hover {
      color: $white-color;
      text-decoration: none;
  }
  ul {
    padding: none !important;
    list-style-type: none;
    padding-left: 1px;
  }
}

// NAVIGATION

nav {
  font-family: $font-stack !important;
  font-size: $font-size-icons;
  background-size: cover;
  background-repeat: no-repeat;


  a:link {
    width: 110px;
    border-radius: $square-corners;
    border: 2px solid $tertiary-color !important;
    color: $primary-color !important;

  }
  a:visited {
    color: $primary-color !important;
    border: 2px solid $tertiary-color !important;
  }
  a:hover {
    color: $secondary-color !important;
    border: 2px solid $secondary-color !important;
    background-color: $white-color !important;
  }
  a:active {
    color: $secondary-color !important;
  }
  .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
  }

  .nav-tabs, .nav-pills {
    text-align:center;
  }
}

// NAVIGATION FOR ACCOUNT SERVICES

.account-bar {
  height: 18px;
  i {
    margin-top: 5px;
    color: $primary-color;
  }
  i:hover {
    color: $secondary-color;
  }
}
