<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h5>Why</h5>
        <p>
          There are lots of recruitment agencies
          around. Most of their work can be done by a spam-bot. Why pay for
          someone who treats your resume like a harlot?

          You don't need a recruiter and you don't need a spam-bot.
        </p>


      </div>
      <div class="col-xs-6 col-sm-3">
        <h5>Settings</h5>
        <ul>
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 2</a></li>
          <li><a href="#!">Link 3</a></li>
          <li><a href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h5>Connect</h5>
        <ul>
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 2</a></li>
          <li><a href="#!">Link 3</a></li>
          <li><a href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          Made by <a href="#">Roggers</a>
        </div>
      </div>
    </div>
  </div>
</footer>
