<div class="row">

  <div class="col-xs-12">

    <ul class="no-bullets">

      <li class="inline-list"><%= link_to "employers", employers_path %></li>
      <li class="inline-list"><%= link_to "freelancers", freelancers_path %></li>
      <li class="inline-list"><%= link_to "jobs", jobs_path %></li>


    </ul>

  </div>

</div>

<div class="row">

  <div class="col-xs-12">

    <h1>InterimAgenda</h1>

  </div>

</div>
