<header>
 <div class="header-content">
   <div class="header-content-inner">
     <h3>SOME_NAME_HERE</h3>
     <hr>
     <p>Get rid of recruitment scum. Register and grab your job.</p>
     <a href="#about" class="btn btn-primary btn-xl btn-custom-1">Click me, quickly!</a>
   </div>
 </div>
</header>
