<nav class="navbar container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills">

        <!-- freelancer logged in -->
        <% if current_user.type === 'Freelancer'%>
          <li><%= link_to employers_path do %>
            <i class="fa fa-building-o text-center" aria-hidden="true"><br>employers</i>
          <% end %></li>
          <li><%= link_to jobs_path do %>
            <i class="fa fa-briefcase text-center" aria-hidden="true"><br>jobs</i>
          <% end %>
          </li>
        <% end %>

          <!-- employer logged in -->
        <% if current_user.type === 'Employer'%>
          <li><%= link_to freelancers_path do %>
            <i class="fa fa-building-o text-center" aria-hidden="true"><br>freelancers</i>
            <% end %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
